<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

	<variable name="baseDirectory" value="C:/WIS/ALFA/"/>
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<target xsi:type="File" name="errorFile" fileName="${baseDirectory}/NLog/WebApplication/Error/${shortdate}/user_${mdlc:UserId}.log"
		  maxArchiveDays = "45"
		  archiveAboveSize = "100000"
		  layout="${longdate} ${uppercase:${level}}${newline}
            Aplicacion: ${mdlc:Application}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=tostring}${newline}
            Additional Info: ${message}" />

		<target xsi:type="File" name="debugFile" fileName="${baseDirectory}/NLog/WebApplication/Debug/${shortdate}/user_${mdlc:UserId}.log"
		  maxArchiveDays = "45"
		  archiveAboveSize = "100000"
		  layout="${longdate} ${uppercase:${level}}${newline}
            Aplicacion: ${mdlc:Application}
            Additional Info: ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="errorFile" />
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="debugFile" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
	</rules>
</nlog>
